@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-color: #ffffff;
  --secondary-color: #f8f8f8;
  --main-font-color: #040404;
  --secondary-font-color: #6b7280;
  --modal-secondary-font-color: #4b5577;
  --tags-color: #f3f4f6;
  --border-color: #e5e7eb;
  --primary-box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1015);

  /* Grid variables for calculations */
  --grid-max-col: 4;
  --grid-min-col-size: 250px;
  --grid-gap: 1rem;

  /* Grid calculation: */
  --grid-col-calc: calc(
    (100% - var(--grid-gap) * var(--grid-max-col) - var(--grid-gap)) /
      var(--grid-max-col)
  );
}

/* 
<========= Main Styling =========>
*/

body {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Inter, sans-serif;

  margin: 0;

  position: relative;
}

main {
  background: var(--secondary-color);

  height: 100vh;
}

/* 
<========= Header Styling =========>
*/

.podcast-header {
  display: flex;
  gap: 0.25rem;
  align-items: center;

  background: var(--main-color);
  border-bottom: 1px solid var(--border-color);

  padding-left: 0.5rem;

  font-size: clamp(0.625rem, 1.563vw, 0.9rem);

  /* width: 100%; */
}

.podcast-header h1 {
  font-weight: 500;
  margin: 0;
  padding: 1.5rem 0;
}

.podcast-header img {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}

/* 
<========= Modal Styling =========>
*/

.podcast-modal-container {
  display: none;
  position: fixed;

  z-index: 1;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.modal-content {
  background-color: var(--main-color);

  margin: 5% auto;
  padding: 1rem;
  border-radius: 0.375rem;

  max-width: 80vw;
  max-height: 57rem;

  position: relative;

  overflow-y: scroll;

  scrollbar-gutter: stable both-edges;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

::-webkit-scrollbar {
  border-radius: 0.375rem;
}

#modal-close {
  margin: 0;
  padding: 0;
  transform: translateY(-0.3125rem);

  font-size: 1.75rem;

  cursor: pointer;
}

.modal-content h1 {
  font-size: 1.5rem;
  font-weight: 500;

  margin: 0;
  margin-bottom: 1.5rem;
}

.modal-content h3 {
  font-weight: 500;
}

.modal-content img {
  width: 100%;
  border-radius: 0.5rem;
}

.modal-content p {
  display: flex;
  align-items: center;

  color: var(--modal-secondary-font-color);
  font-weight: 500;
  font-size: 0.9375rem;
}

.modal-content p img {
  width: 1.25rem;
  margin-right: 0.65rem;
}

.modal-genre-tags {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  font-size: 0.8125rem;
  font-weight: 500;
}

.modal-genre-tags li {
  background: var(--tags-color);

  padding: 0.5rem 1rem;

  border-radius: 2rem;

  cursor: pointer;
}

#last-updated {
  font-size: 0.8125rem;
  margin-top: 2rem;
}

.seasons-title {
  margin-top: 3rem;
}

.modal-seasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
  box-shadow: var(--primary-box-shadow);

  padding: 1rem;
  margin: 1rem 0;

  font-size: 0.8125rem;

  cursor: pointer;
}

.modal-seasons h3 {
  margin: 0;
  padding: 0;
  align-self: center;
}

#modal-episodes {
  font-size: 0.75rem;
  justify-self: end;
}

.visible {
  display: flex;
}

body.modal-open {
  overflow: hidden;
}

/* 
<========= Media Queries =========>
*/

@media (min-width: 541px) {
  :root {
    --grid-gap: 2rem;
  }

  main {
    padding-bottom: 2rem;
  }

  .podcast-header {
    padding-left: 1rem;
  }

  .podcast-header img {
    width: 2.75rem;
    height: 2.75rem;
  }

  .filter {
    justify-content: flex-start;
    gap: 1rem;

    padding: 2rem;
  }

  .filter label {
    font-size: 1rem;
  }

  select {
    font-size: 1rem;
  }

  ::picker(select) {
    top: calc(anchor(top) + 36px);
  }

  .modal-content {
    display: grid;
    grid-template: auto / 1fr 2fr;
    column-gap: 2rem;
    row-gap: 1rem;
    align-content: start;

    padding: 2rem;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar {
    border-radius: 1rem;
  }

  .modal-title {
    grid-column: 1 / -1;
  }

  .modal-info h3 {
    margin-top: 0;
  }

  .modal-seasons-container {
    grid-column: 1/ -1;
  }
}
