.search-bar {
  flex: 1;
  display: flex;
}

.search-bar input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  width: 26rem;
  background: #fff;
  margin: 0;
}

/* Mobile: full width */
@media (max-width: 541px) {
  .search-bar input {
    width: 100%;
  }
}
